@page "/"

<div style="padding-bottom: 20px">
    <span style="margin-left: 10px" class="h1">Chat GPT Question App</span>
</div>

<ul style="font-size: 18px">
    <li><a href="/chatgptquestion/chatgptquestionentry">Chat GPT Question Entry</a></li>
</ul>
